export(normalize)
import(RCSF)
importFrom(Rcpp, evalCpp)
importFrom(data.table, ":=")
importFrom(tidyr, "%>%")
importFrom("stats", "sd", "uniroot", "var")
importFrom("graphics", "points")
importFrom("stats", "coef", "lm")
importFrom("utils", "read.csv")
useDynLib(FORTLS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
