export(normalize)
import(RCSF)
import(rgeos)
importFrom(Rcpp, evalCpp)
importFrom(tidyr, "%>%")
importFrom("stats", "sd", "uniroot", "var")
useDynLib(FORTLS, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
